body{
	font-family: sans-serif;
}

.navbar .nav-link{
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px 20px !important;
}

.control-name{
    margin-left: 15px;
    margin-top: 10px;
}

.navbar-toogler{
	outline: none;
}

.bg-black{
	background: #000;
}
